<div class="home_banner">
	<main class="bg_img">
		<img src="" alt="">
		<h1>Live Smart | Save Smart
			<br>
			<span>Fit Card</span>

			<div class ="social_home">
			<a href="https://twitter.com/haaruund"><i class="fa fa-twitter"></i></a>
			<a href="https://www.instagram.com/haaruun_though/"><i class="fa fa-instagram"></i></a>
			<a href="https://github.com/Haaruun"><i class="fa fa-github"></i></a>
		</div>	
		</h1>
	</main>
</div>


<article class="information wrappper">
	<div class="info_item info_one">
		<h3>Get Fit Today</h3>
		<p>Your health matters. By purchasing a FIT Card, you are making a vow to stay active and healthy. You are enriching your life and the lives of those coping with multiple sclerosis. Buy your 2015/2016 FIT Card today! For every card sold, $1 goes to MS Society of Canada. Thank you for your support. Don't forget to register your card once you receive it.</p>
	</div>
	<div class="info_item info_two">
		<h3>Register Fit Card</h3>
		<p>Register your FIT Card for a chance to win some cool prizes. Prizes include adventure packages, gym memberships, gift certificates, and more. The grand prize is a Trip for Two to a Rafting Destination Near You.</p>
	</div>

	<div class="info_item info_three">
		<h3>About Us</h3>
		<p>We want to help you make healthy choices. It is hard to be motivated when healthy living costs so much. FIT Card offers discounts and deals to make it easier to get fit and stay fit. FIT Card makes healthy living convenient and affordable for everyone.

Being healthy should not be a chore. Eating right can be delicious. And, being active can be fun.
</p>
	</div>
</article>
<!-- 
	<h1 style="text-align: center; padding-bottom: 25px;">Hot Deals</h1>

<div class="hotdeals">
	<div>
  <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg01.jpg">
    <figure>
      <img src="http://fitcard.ca/dashboard/logos/1408120016259%20Host%20Logo.jpg" alt="">
      <figcaption>
        15% OFF ALL Tandoori and Vegetarian Mains for Dine-in and Takeout.
      </figcaption>
    </figure>
  </a>
  <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg02.jpg">
    <figure>

      <img src="http://fitcard.ca/dashboard/logos/1428520736Airborne%20Trampoline%20Logo.png" alt="">
      <figcaption>
     10% OFF 10 Class AirFIT Card.
     <br>
     10% OFF Trial AirFIT Class.
      </figcaption>
    </figure>
  </a>
  <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg03.jpg">
    <figure>
      <img src="http://fitcard.ca/dashboard/logos/1432234813Archery%20Academy%20Logo.jpg" alt="">
      <figcaption>
     2-FOR-1 Lesson with Coach.
     <br>
     15% OFF 8+ Hour Shooting Range Packages.
      </figcaption>
    </figure>
  </a>
  <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg04.jpg">
    <figure>
      <img src="http://fitcard.ca/dashboard/logos/1463511524Archery%20District%20Logo.jpg" alt="">
      <figcaption>
        15% OFF ALL Regular Priced Archery Sessions.
      </figcaption>
    </figure>
  </a>
  <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg05.jpg">
    <figure>
      <img src="http://fitcard.ca/dashboard/logos/1373052098Bike%20Depot%20Logo.jpg" alt="">
      <figcaption>
         15% off ALL Regular Priced Parts and Accessories.

      </figcaption>
    </figure>
  </a>
  <a href="http://fitcard.ca/dashboard/logos/1373052144Broadway%20Cycle%20Logo.jpg">
    <figure>
      <img src="http://fitcard.ca/dashboard/logos/1373052144Broadway%20Cycle%20Logo.jpg" alt="">
      <figcaption>
      15% off ALL Regular Priced Parts and Accessories.
      </figcaption>
    </figure>
  </a>
  <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg07.jpg">
    <figure>
      <img src="http://fitcard.ca/dashboard/logos/1428609178Bubble%20Soccer%20Logo2.png" alt="">
       <figcaption>
        $5 OFF PER Bubble Suit.
      </figcaption>
    </figure>
  </a>
  <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg08.jpg">
    <figure>
      <img src="http://fitcard.ca/dashboard/logos/1442517718CPTN%20Logo.jpg" alt="">
      <figcaption>
	10% off ALL CPTN Workshops to Non-CPTN members (See Website for Locations.)      </figcaption>
    </figure>
  </a>
  <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg09.jpg">
    <figure>
      <img src="http://fitcard.ca/dashboard/logos/1371833125Coyote%20Rock%20Gym%20Logo.jpg" alt="">
      <figcaption>
        2-for-1 Day Pass MON-FRI (Admitted before 6:00p.m.)
		 FREE Shoes and Harness Rentals ANY DAY (Admitted before 6:00p.m.)
      </figcaption>
    </figure>
  </a>
  <a href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/placeimg10.jpg">
    <figure>
      <img src="http://fitcard.ca/dashboard/logos/1406654271Duffering%20North%20Athletics%20Logo.png" alt="">
      <figcaption>
        2-FOR-1 ONE MONTH Membership (For First Time Trial Users)
		 $100 OFF ALL New 1 Year Memberships.
      </figcaption>
    </figure>
  </a>
</div>
</div> -->



